@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IRANSans";
  src: url("../public/font/IRANSans.eot");
  src: url("../public/font/IRANSans.eot?#iefix") format("embedded-opentype"),
    url("../public/font/IRANSans.woff2") format("woff2"),
    url("../public/font/IRANSans.woff") format("woff"),
    url("../public/font/IRANSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  direction: rtl;
}
  
  body{
  font-family: "IRANSans", serif !important;
  }